.list .menuBox { /* 수정한 부분 */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
     

    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

.list .menuBox a img {
    max-width: 1000px!important;
    height: 100%;
    width: 100%;
}


.list .menuBox a {
    flex-direction: column;
    min-height: 30vh;
    width: 300px;
    font-size: 14px;
    line-height: 1.5em;
    margin: 90px; /* 수정한 부분 */
}

.menuBox a {
    display: flex;
    font-family: 'BinggraeMelona-Bold';
}

/* Main에 home 클래스, MenuItem에 description 클래스 만들어서 수정 */
.home .menuBox a {
    justify-content: center;
    margin-top: 80px;
}

.home .menuBox .menuItem {
    width: 800px;
}

.home .menuBox .description {
    width: 500px;
}

.list .menuBox h3 {
    margin: 0.5em 0;
    color: gray;
    font-weight: 400;
    text-align: left;
}

.list .menuBox h3:first-child {
    color: black;
    font-size: 22px;
    font-weight: bold;

}

.list .menuBox div {
    display: inline-block;
    width: 100%;
    margin: 5px;
}

.list .menuItem {
    background: white;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    white-space: pre-wrap;
    height: 300px;
    overflow: hidden;
    width: 100%;
}

#root > div > div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    margin: auto;
}

#root > div > div:nth-child(3) h1 {
    width: 100%;
}

.menuItem {
    width: 50%;
    white-space: pre-wrap;
    font-family: 'BinggraeMelona-Bold';
}

.menuItem img {
    width: 100%;
    max-width: 95%!important;
}

.menuItem h1 { /* 수정 */
    margin: 10px 0px 20px 0px;
}

.menuItem h3 {
    margin: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
}

.category ul {
    list-style: none;
    padding:0;
    margin:20px;
}
.category li { /* 수정 */
    display: inline-block;
    width: 45px;
    text-align: center;
    padding: 13px;
    margin: 40px 20px 20px 20px;
    border-radius: 20px;
    border: 2px solid rgb(233, 138, 30);
    background-color: rgb(233, 138, 30);
    font-size: 17px;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgb(104, 104, 104);
}